
{% extends  "myApp/layout.html" %}

{% load static %}


{% block body%}

<div class = "hmpage">

    <div class = "ctr">
        <div >
            <h1 class="nameTitle">Sawyer Rice</h1>
        </div>
    
    
        <div>
            <img class = "prof-pic" src= "{% static 'myApp/profilepic.jpg' %}" alt="Avatar" >
        </div>
    
        <p class = "mtext">
            Aspiring software engineer currently studying at UCSB. A hardworking and determined individual with an academic record 
    to show. Extensive experience in team settings in both academic and athletic situations.
        </p>
    
    </div>
    
    </div>




    
    

{% endblock %}

    

    

    

    
    
</body>
</html>