{% extends  "myApp/layout.html" %}




{% block body%}


<h1 class = "schoolTitle">UCSB, GPA 4.0/4.0</h1>

<p class = "eduText"> &emsp; I am currently pursuing a Bachelor of Science in Computer Science within the College of Engineering at the University of California, Santa Barbara. 
    In my first two years at UCSB I have taken courses in a myriad of computer science and mathematics related subjects ranging from web development to formal language theory. I have 
    taken particular interest in graph theory and algorithm design through my core data structures and algorithms courses. I have excelled in my theoretical computer science courses and
    am proficient in computer science concepts such as greedy algorithms, divide and conquer algorithms, dynamic programming, and NP-Completeness reductions.
</p>

<p class = "eduText">
    &emsp; As far as academic acheivements, I have been named to the Dean's Honors List in every quarter I have been enrolled at UCSB.
</p>

<p class = "eduText">
    &emsp; Outside of the classroom, I am a member of the UCSB Men's Club Soccer Team. I am extremely active within the club and have held a club board position since the beginning of my sophomore year.
</p>

<p class = "eduText">
    &emsp; Moving forward, I hope to gain admittance into the UCSB computer science BS/MS 5 year program to further my education in computer science.
</p>
    
    

{% endblock %}