{% extends  "myApp/layout.html" %}

{% load static %}


{% block body%}


<h1 class="projTitle">Atmosphere</h1>
<p class = "eduText">   
    &emsp; Produced entry into Google Gemini API Developer competition within group of three other peers. 
    Designed and developed immersive audio book generator using Gemini API. The generator takes in an audio book file, 
    identifies scenes enhanceable through ambient audio, selects audio from BBC Sound Effects Library for each scene, and 
    overlays the corresponding atmospheric audio onto the original audio file.
        </p>

<h1 class="projTitle">Scrypt</h1>
    <p class = "eduText">   
            &emsp; Worked within a group of four members, developed a C++ project to read lines of code resembling syntax
            of C++, Python, or Java, and executed the code in ways that a standard programming language might.
            Required constant communication and proficiency in Git.
    </p>
    
<h1 class="projTitle">Happy Cows</h1>
    <p class = "eduText">   
                    &emsp; Worked with six teammates in Agile format to enhance web app used in UCSB chemistry courses. Worked within React and Springboot 
                    frameworks to make both front and back end changes to the web app. Wrote extensive unit, integration, 
                    and end to end tests that satisfied line coverage and mutation testing thresholds to ensure quality of fixes.
    </p>
    
    

{% endblock %}