{% extends  "myApp/layout.html" %}

{% load static %}


{% block body%}

<br>

<h1 class="workTitle">Front Desk Associate, UCSB Veterans Resource Center</h1>
<h2 class = "dateTitle"> September 2022-present </h2>
<p class = "eduText">   
    &emsp; Operate without supervision as the primary point of contact for United States Armed Forces Veterans 
    to inquire about the educational benefits awarded to them and their loved ones. Answer phone calls, 
    field in-person questions, and maintain an honorable image for the resource center.
        </p>

<h1 class="workTitle">Delivery Driver/Packer, Snag </h1>
<h2 class = "dateTitle"> June 2023 - September 2023 </h2>
        <p class = "eduText">   
            &emsp;Delivered food and drink orders for scooter delivery service Snag. 
            Ensured all orders were packed and delivered in under fifteen minutes. Handled face-to-face interactions with 
            customers and provided positive customer service experiences. 
            Worked on feet with minimal to no supervision for shifts of at least three-hours. 
        </p>




    
    

{% endblock %}